*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
/core-banking.iml
/cbs-core/cbs-core.iml
/cbs-soap/cbs-soap.iml
/cbs-web/cbs-web.iml
